class Collector
constructor
adbuctionSpeed
computeTravelingTime

collectors

BASE

getLongitudeInDecimalDegree

getLatitudeInDecimalDegree

parseMissionInformations

computeMissileTravelingTime

code structure

On me dit:
Pour un même profit, choisir celui qui rapporte le plus de vache ==> OK
Mais si un n'est pas profitable, préférer un autre qui est profitable. ==> OK
Mais quid si un meilleur profit avec moins de vaches
Ex:
SHIP A rapporte 7 vaches mais coute 6
SHIP B rapporte 3 vaches mais coute 1

'VaCoWM Cleaner' max 3, coute 1
'L4nd MoWer', max 10, coute 6
'Cow Harvester', max 20, coute 14

==> enregister le plus grand nombre de vache qui fait du profit ?
Ou enregistrer le nombre de vache si le profit est plus grand
